/CNA-Project.pdf
/CN_Pr.ipynb
/DropEdge: Towards Deep Graph Convolutional Networks on Node Classification.pdf
/Predict then Propagate: Graph Neural Networks meet Personalized PageRank.pdf
/Project_401131053.zip
/report.odt
/report.pdf